NBPlatformApp/jaxbgeneratedclasses/nbproject/private/private.xml
NBPlatformApp/NoteContentViewModule/nbproject/private/profiler/configurations.xml
NBPlatformApp/NoteInterface/nbproject/private/private.xml
NBPlatformApp/SearchLucene/nullen4j/luceneindex/_0.cfs
NBPlatformApp/SearchLucene/nullen4j/luceneindex/segments.gen
NBPlatformApp/SearchLucene/nullen4j/luceneindex/segments_4
NBPlatformApp/lucene-core/nbproject/private/private.xml