NBPlatformApp/jaxbgeneratedclasses/nbproject/private/private.xml
NBPlatformApp/NoteContentViewModule/nbproject/private/profiler/configurations.xml
NBPlatformApp/NoteInterface/nbproject/private/private.xml
NBPlatformApp/SearchLucene/nullen4j
NBPlatformApp/lucene-core/nbproject/private/private.xml
